<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "sk.datastream.mobiletestinternal"
        versionCode = "101"
        version     = "1.0.1">
 
    <name>Taxi mobile shell</name>
  
    <description>
      Taxi mobile shell
    </description>
 
    <author href="http://www.datastream.sk" email="info@datastream.sk">
        DataStream
    </author>
  
  
  <icon src="img/taximobileshellicon.png" />

  <preference name="phonegap-version" value="cli-7.0.1" />
  

</widget>
